* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1 {
  width: 100%;
  height: 50px;
  background-color: #cc3300;
}
.box2 {
  width: 100%;
  height: 500px;
  background-color: #ff773e;
}
.box-text {
  display: flex;
  justify-content: center;
}
.box3 {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}
.box4 {
  width: 500px;
  height: 1400px;
  background-color: #009900;
}
.box5 {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}
.box6 {
  width: 100%;
  height: 100px;
  background-color: #0000aa;
}
